################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/application-venv
/__pycache__
/routes/__pycache__
/instance/tennis_analytics.db
.venv/

