################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*application-venv
*__pycache__
*.pytest_cache
*tennis_analytics.db
.venv/
/.idea
*__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

*__pycache__
/instance/tennis_analytics.db
.venv/
/.idea

/TestResults
